In [1]:
import hf_point_data
import utils

In [2]:
data_source = 'usgs_nwis'
variable = 'streamflow'
temporal_resolution = 'daily'
aggregation = 'average'

In [3]:
date_start = '2002-01-01'
date_end = '2002-01-05'
latitude_range = (47, 50)
longitude_range= (-75, -50)

In [4]:
# Example call get_data()
data_df = hf_point_data.get_data(data_source, variable, temporal_resolution, aggregation, 
                                 date_start=date_start, date_end=date_end, latitude_range=latitude_range,
                                 longitude_range=longitude_range)
data_df

collecting data...
data collected.

         date  01011000  01013500  01010500  01014000
0  2002-01-01    9.7069   13.8104   24.0550    61.411
1  2002-01-02    9.5371   13.4142   23.4890    59.713
2  2002-01-03    9.3390   13.0746   23.0645    58.581
3  2002-01-04    9.1692   12.6501   22.6400    57.449
4  2002-01-05    8.9994   12.2822   22.2155    56.317

In [5]:
# Example call get_metadata()
metadata_df = hf_point_data.get_metadata(data_source, variable, temporal_resolution, aggregation, 
                                         date_start=date_start, date_end=date_end, latitude_range=latitude_range,
                                         longitude_range=longitude_range)
metadata_df

,site_id,site_name,site_type,agency,state,latitude,longitude,first_date_data_available,last_date_data_available,record_count,...,reliability_cd,project_no,county_name,elevation,shef_id,acton_id,conus1_x_y,conus1_y_y,conus2_x_y,conus2_y_y
0,01011000,"Allagash River near Allagash, Maine",stream gauge,USGS,ME,47.069722,-69.079444,1910-07-01,2023-10-13,33980,...,nan,442300100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01013500,"Fish River near Fort Kent, Maine",stream gauge,USGS,ME,47.237500,-68.582778,1903-07-29,2023-10-13,36458,...,nan,442300100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01010500,"St. John River at Dickey, Maine",stream gauge,USGS,ME,47.113056,-69.088056,1910-07-05,2023-10-13,28493,...,nan,442300100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01014000,"St. John River below Fish R, nr Fort Kent, Maine",stream gauge,USGS,ME,47.283333,-68.585278,1926-10-01,2023-10-13,35442,...,nan,442300100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Example call get_citations() with site_id
hf_point_data.get_citations(data_source = 'ameriflux', site_ids=['US-Act'])

All AmeriFlux sites provided by the HydroData service follow the CC-BY-4.0 License.
                The CC-BY-4.0 license specifies that the data user is free to Share (copy and redistribute
                the material in any medium or format) and/or Adapt (remix, transform, and build upon the
                material) for any purpose.

                Users of this data must acknowledge the AmeriFlux data resource with the following statement:
                "Funding for the AmeriFlux data portal was provided by the U.S. Department of Energy Office
                of Science."

                Additionally, for each AmeriFlux site used, you must provide a citation to the site's
                data product that includes the data product DOI. The DOI for each site is included in the
                full metadata query. Alternately, a site list can be provided to this get_citation_information
                function to return each site-specific DOI.

                Source: https://ameriflux.lbl.gov/data/data-policy/

  site_id                   doi
0  US-Act  10.17190/AMF/1846660